@model CloudTrixApp.Models.ProjectAssignment

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <section class="content-header">
        <h1>

            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Task Management</a></li>
            <li class="active">Edit Project Assignment</li>
        </ol>
    </section>
    <div class="wraper container-fluid ">
        <div class="row">
            <div class="col col-md-11">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Edit Project Assignment</h3>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <hr />
                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(model => model.ProjectAssignmentID)

                                <div class="container-fluid">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="ProjectID">Project Name</label>
                                            @Html.DropDownList("ProjectID", null, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.ProjectID)
                                        </div>
                                    </div>
                                </div>

                                <div class="container-fluid">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="EmployeeID">Employee Name</label>
                                            @Html.DropDownList("EmployeeID", null, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.EmployeeID)
                                        </div>
                                    </div>
                                </div>

                                <div class="container-fluid">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="AssignmentDate">Assignment Date</label>
                                            @Html.EditorFor(model => model.AssignmentDate, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.AssignmentDate)
                                        </div>
                                    </div>
                                </div>

                                <div class="container-fluid">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="Remarks">Remarks</label>
                                            @Html.TextBox("Remarks", null, new { @class = "form-control  ", @placeholder = "Remarks ", autocomplete = "off" })
                                            @Html.ValidationMessageFor(model => model.Remarks)
                                        </div>
                                    </div>
                                </div>

                                <div class="container-fluid">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="AddUserID">Add User</label>
                                            @Html.DropDownList("EmployeeID", null, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.EmployeeID)
                                        </div>
                                    </div>
                                </div>

                                <div class="container-fluid">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="AddDate">Add Date</label>
                                            @Html.EditorFor(model => model.AddDate, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.AddDate)
                                        </div>
                                    </div>
                                </div>

                                <div class="container-fluid">
                                    <div><hr size=2><br /></div>
                                    <div class="col-sm-4 col-lg-offset-4">
                                        <div class="form-group">
                                            <input type="submit" value="Save" class="btn btn-success" />
                                            &nbsp;&nbsp;
                                            @Html.ActionLink("Back to List", "Index", null, null, new { @class = "btn btn-primary" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#AddDate').addClass('form-control');
            $('#AssignmentDate').addClass('form-control');
        });
    </script>
}
