@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<CloudTrixApp.Models.TaskAssignment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <section class="content-header">
        <h1>

            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Task Management</a></li>
            <li class="active">Task Assignment</li>
        </ol>
    </section>
    <section class="container">
        <div class="row">
            <div class="col col-sm-11">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Task Assignment</h3>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("Index", "TaskAssignment", FormMethod.Get))
                        {
                            <table class="table">
                                <tr>
                                    <td align="left">&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td align="center">
                                        @Html.DropDownList("SearchField", (IEnumerable<SelectListItem>)ViewData["SearchFields"], new { style = "width:150px;height:33px" })
                                        @Html.DropDownList("SearchCondition", (IEnumerable<SelectListItem>)ViewData["SearchConditions"], new { style = "width:150px;height:33px" })
                                        @Html.TextBox("SearchText", ViewData["SearchText"] as String, new { style = "width:100px;height:33px" })
                                        <input type="submit" value="Search" name="command" class="btn btn-default" />
                                        <input type="submit" value="Show All" name="command" class="btn btn-default" />
                                    </td>
                                    <td>&nbsp;</td>
                                    <td align="right">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        @Html.DropDownList("Export", (IEnumerable<SelectListItem>)ViewData["Exports"], new { style = "width:65px;height:33px" })
                                        <input type="submit" value="Export" name="command" class="btn btn-default" />
                                    </td>
                                    <td>&nbsp;</td>
                                    <td align="center">
                                        <input type="submit" value="Add New Record" name="command" class="btn btn-success" />
                                    </td>
                                    <td>&nbsp;</td>
                                    <td align="right">
                                        @Html.DropDownList("PageSize", (IEnumerable<SelectListItem>)ViewData["PageSizes"], new { style = "width:50px;height:33px" })
                                        <input type="submit" value="Page Size" name="command" class="btn btn-default" />
                                    </td>
                                </tr>
                            </table>
                        }

                        <table class="table">
                            <tr>
                                <th>
                                    @Html.ActionLink("Assignment Date", "Index", new { sortOrder = ViewData["AssignmentDateSortParm"], SearchText = ViewData["SearchText"] })
                                </th>
                                <th>
                                    @Html.ActionLink("Task I D", "Index", new { sortOrder = ViewData["TaskIDSortParm"], SearchText = ViewData["SearchText"] })
                                </th>
                                <th>
                                    @Html.ActionLink("Employee I D", "Index", new { sortOrder = ViewData["EmployeeIDSortParm"], SearchText = ViewData["SearchText"] })
                                </th>
                                <th>
                                    @Html.ActionLink("Task State I D", "Index", new { sortOrder = ViewData["TaskStateIDSortParm"], SearchText = ViewData["SearchText"] })
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AssignmentDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Task.TaskName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Employee.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TaskState.TaskStateName)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new
                                   {
                                       TaskAssignmentID = item.TaskAssignmentID
                                   }) |
                                        @Html.ActionLink("Details", "Details", new
                                   {
                                       TaskAssignmentID = item.TaskAssignmentID
                                   }) |
                                        @Html.ActionLink("Delete", "Delete", new
                                   {
                                       TaskAssignmentID = item.TaskAssignmentID
                                   })
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                    <table class="table">
                        <tr>
                            <td align="center">
                                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewData["CurrentSort"], SearchText = ViewData["SearchText"] }))
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
