@model CloudTrixApp.Models.Employee

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>

            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Masters</a></li>
            <li class="active">Create Employee</li>
        </ol>
    </section>
    <div class="wraper container-fluid ">
        <div class="row">
            <div class="col col-md-11">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Create Employee </h3>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <hr />
                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(model => model.EmployeeID)

                                <div class="container-fluid">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="FirstName"> First Name : </label>
                                            @Html.TextBoxFor(model => model.FirstName, null, new { @class = "form-control ", @placeholder = "Enter First Name " })
                                            @Html.ValidationMessageFor(model => model.FirstName)
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="LastName"> Last Name : </label>
                                            @Html.TextBoxFor(model => model.LastName, null, new { @class = "form-control ", @placeholder = "Enter Last Name " })
                                            @Html.ValidationMessageFor(model => model.LastName)
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="Gender"> Gender : </label>
                                            @Html.TextBoxFor(model => model.Gender, null, new { @class = "form-control ", @placeholder = "Enter Gender " })
                                            @Html.ValidationMessageFor(model => model.Gender)
                                        </div>
                                    </div>
                                </div>

                                <div class="container-fluid">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="DOB"> Date of Birth : </label>

                                            @Html.TextBoxFor(model => model.DOB, null, new { @class = "form-control datepicker", @id = "DOB", @placeholder = "Enter Date of Birth " })
                                            @Html.ValidationMessageFor(model => model.DOB)
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="DOJ"> Date of Joining : </label>
                                            @Html.TextBox("DOJ", @DateTime.Now.ToString(), new { @class = "form-control datepicker ", @placeholder = "Enter Date of Joining " })
                                            @Html.ValidationMessageFor(model => model.DOJ)
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="Mobile"> Mobile No. : </label>
                                            @Html.TextBoxFor(model => model.Mobile, null, new { @class = "form-control ", @placeholder = "Enter Mobile No. " })
                                            @Html.ValidationMessageFor(model => model.Mobile)
                                        </div>
                                    </div>
                                </div>

                                <div class="container-fluid">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="Address1"> Address1 : </label>
                                            @Html.TextBoxFor(model => model.Address1, null, new { @class = "form-control ", @placeholder = "Enter Address1 " })
                                            @Html.ValidationMessageFor(model => model.Address1)
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="Address2"> Address2 : </label>
                                            @Html.TextBoxFor(model => model.Address2, null, new { @class = "form-control ", @placeholder = "Enter Address2 " })
                                            @Html.ValidationMessageFor(model => model.Address2)
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="EMail"> EMail : </label>
                                            @Html.TextBoxFor(model => model.EMail, null, new { @class = "form-control ", @placeholder = "Enter EMail " })
                                            @Html.ValidationMessageFor(model => model.EMail)
                                        </div>
                                    </div>
                                </div>

                                <div class="container-fluid">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="Salary"> Salary </label>
                                            @Html.TextBoxFor(model => model.Salary, null, new { @class = "form-control ", @placeholder = "Enter Salary " })
                                            @Html.ValidationMessageFor(model => model.Salary)
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="SignatureURL"> SignatureURL : </label>
                                            @Html.TextBoxFor(model => model.SignatureURL, null, new { @class = "form-control ", @placeholder = "Enter SignatureURL " })
                                            @Html.ValidationMessageFor(model => model.SignatureURL)
                                        </div>
                                    </div>
                                </div>

                                <div class="container-fluid">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="CompanyID">Company</label>
                                            @Html.DropDownList("CompanyID", null, new { @class = "form-control  ", @placeholder = "Company Name ", autocomplete = "off" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="AddUserID">Added by</label>
                                            @Html.TextBox("AddUserID", null, new { @class = "form-control  ", @placeholder = "Added by ", autocomplete = "off" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="AddDate">Created Date</label>
                                            @Html.TextBox("AddDate", null, new { @class = "form-control  datepicker", @placeholder = "Created Date ", autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>

                                <div class="container-fluid">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="UserName">UserName</label>
                                            @Html.TextBox("UserName", null, new { @class = "form-control  ", @placeholder = " Enter UserName ", autocomplete = "off" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="Password">Password</label>
                                            @Html.TextBox("Password", null, new { @class = "form-control  ", @placeholder = "Enter Password ", autocomplete = "off", Type = "password" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="UserTypeID">User Type</label>
                                            @Html.DropDownList("UserTypeID", null, new { @class = "form-control  ", @placeholder = "User Type", autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                                <div class="container-fluid">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="Isactive">Is Active</label>    &nbsp;&nbsp;
                                            @Html.CheckBoxFor(model => model.IsActive, new { @value = "true", @checked = "true", @align = "left" })
                                        </div>
                                    </div>
                                </div>
                                <div class="container-fluid">
                                    <div><hr size=2><br /></div>
                                    <div class="col-sm-4 col-lg-offset-4">
                                        <div class="form-group">
                                            <input type="submit" value="Save" class="btn btn-success" />
                                            &nbsp;&nbsp;
                                            @Html.ActionLink("Back to List", "Index", null, null, new { @class = "btn btn-primary" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/ApplicationJquery")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#DOJ").datepicker({
                format: 'mm/dd/yyyy',
                startDate: '-10y'
            });

            $("#DOB").datepicker({
                format: 'mm/dd/yyyy',
                startDate: new Date('1980-1-5'),
                endDate: new Date('2000-12-31')
            });

            $("#AddDate").datepicker({
                format: 'mm/dd/yyyy',
                startDate: new Date('2020-1-5'),
                endDate: new Date('2040-12-31')
            });
        });
    </script>
}