@model CloudTrixApp.Models.AdvancePayment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AdvancePayment</h4>
	<hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.AdvancePaymentID)

        <dt>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentDate)
        <dt>
            @Html.DisplayNameFor(model => model.CompanyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.ClientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrossAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrossAmount)
        <dt>
            @Html.DisplayNameFor(model => model.TDSRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TDSRate)
        <dt>
            @Html.DisplayNameFor(model => model.CGSTRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CGSTRate)
        <dt>
            @Html.DisplayNameFor(model => model.SGSTRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SGSTRate)
        <dt>
            @Html.DisplayNameFor(model => model.IGSTRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IGSTRate)
        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
    </dl>
</div>
<p>
            @Html.ActionLink("Edit", "Edit", new {
 						AdvancePaymentID = Model.AdvancePaymentID 
 						}) |
    @Html.ActionLink("Back to List", "Index")
</p>
 
