@model CloudTrixApp.Models.Invoice

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    textarea {
    }
</style>
<link href="~/Content/Site.css" rel="stylesheet" />
<div class="content-wrapper">
    <section class="content-header">
        <h1>

            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Invoice</a></li>
            <li class="active">Create Invoice</li>
        </ol>
    </section>
    <div class="wraper container-fluid ">
        <div class="row">
            <div class="col col-md-11">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Create Invoice </h3>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm())
            {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <hr />
                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(model => model.InvoiceID)

                                <div class="container-fluid">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="InvoiceType"> Invoice Type :</label>
                                            @Html.TextBox("InvoiceType", null, new { @class = "form-control  ", @placeholder = "Invoice Type ", autocomplete = "off" })
                                        </div>
                                    </div>
                                    @*<div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="CompanyID"> Company Name :</label>
                                                @Html.DropDownList("CompanyID", null, new { @class = "form-control  ", @placeholder = "Company Name ", autocomplete = "off" })
                                            </div>
                                        </div>*@
                                </div>

                                <div class="container-fluid">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="InvoiceNo"> Invoice No : </label>
                                            @Html.TextBox("InvoiceNo", null, new { @class = "form-control", @placeholder = "Invoice No", autocomplete = "off" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="InvoiceDate"> InvoiceDate :</label>
                                            @Html.TextBox("InvoiceDate", null, new { @class = "form-control datepicker ", @id = "Date", @placeholder = "Invoice Date ", autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>

                                <div class="container-fluid">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="ClientID"> Client Name : </label>
                                            @Html.DropDownList("ClientID", null, "Select Client Name", new { @class = "form-control clsCustomer", @id = "ClientID", @autocomplete = "off" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="ProjectID"> Project Name :</label>
                                            @*@Html.DropDownList("ProjectID", null, "Select Project Name", new { @class = "form-control  ", @placeholder = "Project Name ", autocomplete = "off" })*@
                                            <select id="ProjectID" class="form-control">
                                                <option value="">Select Project</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>

                                <div class="container-fluid">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="ClientAddress"> Client Address : </label>
                                            @Html.TextBox("ClientAddress", null, new { @class = "form-control", @placeholder = "", @id = "ClientAddress", @style = "width : 100%", autocomplete = "off", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="ClientGSTIN"> Client GSTIN  :</label>
                                            @Html.TextBox("ClientGSTIN", null, new { @class = "form-control", @placeholder = "", @id = "ClientGSTIN", @style = "width : 100%", autocomplete = "off", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>

                                <div class="container-fluid">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="ClientContactNo"> Client Contact No :</label>
                                            @Html.TextBox("ClientContactNo", null, new { @class = "form-control", @placeholder = "", @id = "ClientContactNo", @style = "width : 100%", autocomplete = "off", @readonly = "readonly" })

                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="ClientEMail"> Client EMail :</label>

                                            @Html.TextBox("ClientEMail", null, new { @class = "form-control", @placeholder = "", @id = "ClientEMail", @style = "width : 100%", autocomplete = "off", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <form class="row" role="form">
                                            <div class="container-fluid">
                                                <div class="col-sm-11">
                                                    <div class="form-group ">
                                                        <label for="Description"> Description: </label>
                                                        @Html.TextBox("Description", null, new { @class = "form-control", @placeholder = "Enter Description", @style = "width : 100%", autocomplete = "off" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container-fluid">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="Quantity"> Quantity :</label>
                                                        @Html.TextBox("Quantity", null, new { @class = "form-control  ", @style = "width : 80%", @placeholder = "Quantity ", autocomplete = "off", @type = "number" })
                                                        <small id="error_quantity" class="form-text error_msg">Quantity is required</small>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="Price"> Price :</label>
                                                        @Html.TextBox("Price", null, new { @class = "form-control  ", @style = "width : 80%", @placeholder = "Price ", autocomplete = "off", @type = "number" })
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="Amount"> Amount :</label>
                                                        @Html.TextBox("Amount", null, new { @class = "form-control  ", @style = "width : 75%", @placeholder = "Amount ", autocomplete = "off", @type = "number" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="divIGST">
                                                <div class="form-inline col-sm-6">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="Quantity"> IGST : </label>
                                                            @Html.TextBox("IGST", null, new { @class = "form-control", @style = "width : 150px", @type = "number", @placeholder = "Enter Percentage ", autocomplete = "off" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="Price"> IGST Amount : </label>
                                                            @Html.TextBox("IGSTAmt", null, new { @class = "form-control", @type = "number", @style = "width : 150px", @placeholder = "", autocomplete = "off", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="divCGST">
                                                <div class="form-inline col-sm-6">
                                                </div>
                                                <div class="form-inline col-sm-6">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="Quantity"> CGST : </label>
                                                            @Html.TextBox("CGST", null, new { @class = "form-control", @style = "width : 150px", @type = "number", @placeholder = "Enter Percentage ", autocomplete = "off" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="Price"> CGST Amount : </label>
                                                            @Html.TextBox("CGSTAmt", null, new { @class = "form-control", @type = "number", @style = "width : 150px", @placeholder = "", autocomplete = "off", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-inline col-sm-6">
                                                </div>
                                                <div class="form-inline col-sm-6">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="Quantity"> SGST : </label>
                                                            @Html.TextBox("SGST", null, new { @class = "form-control", @style = "width : 150px", @type = "number", @placeholder = "Enter Percentage ", autocomplete = "off" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="Price"> SGST Amount : </label>
                                                            @Html.TextBox("SGSTAmt", null, new { @class = "form-control", @type = "number", @style = "width : 150px", @placeholder = "", autocomplete = "off", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-inline col-sm-6">
                                            </div>
                                            <div class="form-inline col-sm-6" style="margin-top: 10px;">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="Quantity">Total Amount : </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.TextBox("TotAmt", null, new { @class = "form-control", @type = "number", @style = "width : 150px", @placeholder = "", autocomplete = "off", @readonly = "readonly" })
                                                    </div>
                                                </div>
                                            </div>
                                            <br /><br />
                                            <div class="form-inline col-sm-6">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group ">
                                                    <br />
                                                    <button type="submit" id="addToList" class="btn btn-info">
                                                        Add To List
                                                    </button>
                                                </div>
                                            </div>


                                            <div class="col-sm-12">
                                                <table class="table table-hover table-responsive" id="detailsTable">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th style="width:40px">Description</th>
                                                            <th>Unit</th>
                                                            <th>Qty</th>
                                                            <th>Amt</th>
                                                            <th>IGST</th>
                                                            <th>IGST Amt</th>
                                                            <th>CGST</th>
                                                            <th>CGST Amt</th>
                                                            <th>SGST</th>
                                                            <th>SGST Amt</th>
                                                            <th>Total Amt</th>
                                                            <th style="width:20px"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td> <strong> Total:</strong> </td>
                                                            <td> <strong id="SubTotal">  </strong> </td>
                                                            <td></td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>

                                            @*<input type="button" class="del" value="DELETE" />*@
                                            <div class="form-horizontal">
                                                <label> </label>
                                                <input id="BtnSave" class="btn btn-success col-md-3 pull-right BtnSave" type="submit" value="Save Invoice" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/App3")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/lib")

    <script type="text/javascript">
        $("#Date").datepicker({ format: 'yyyy/MM/dd' });
        //$(document).ready(function () {
        //    $("#ClientID").change(function () {
        //        $('#ClientID').val();
        //        var id = $('#ClientID').find(":selected").attr('value');
        //        $.ajax({
        //            type: "GET",
        //            url: "/Invoice/GetClientDetails",
        //            datatype: "Json",
        //            data: {
        //                ClientID: $('#ClientID').val(),
        //            },
        //            contentType: "application/json; charset=utf-8",
        //            success: function (data) {
        //                $("#Address1").val(data.Address1);
        //                $("#GSTIN").val(data.GSTIN);
        //            }
        //        })
        //    })

        //});
        $('#ClientID').change(function () {
            $('#ProjectID').empty();
            $.ajax({
                type: "GET", url: "/Invoice/GetProjectByCustomer",
                datatype: "Json",
                data: { clientID: $('#ClientID').val() },
                success: function (data) {
                    $.each(data, function (index, value) {
                        $('#ProjectID').append('<option value="' + value.ProjectID + '">' + value.ProjectName + '</option>')
                    });

                }
            })
        });

        $("#divIGST").hide();
        $("#divCGST").hide();
        $('.clsCustomer').change(function () {
            $("#divIGST").hide();
            $("#divCGST").hide();

            $('#TotAmt').val('');
            $.ajax({
                type: "GET", url: "/Invoice/GetCustomerState",
                datatype: "Json",
                data: { clientID: $('#ClientID').val() },
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log(data);
                    $("#ClientContactNo").val(data.ContactNo);
                    $("#ClientEMail").val(data.EMail);
                    $("#ClientAddress").val(data.Address1);
                    $("#ClientGSTIN").val(data.GSTIN);

                    if (data.IsStateMatch) {
                        $("#divCGST").show();
                    } else {
                        $("#divIGST").show();
                    }

                }
            })
        });



        $('#Price, #Quantity').change(function () {
            var sum = 0;
            $('#Quantity').text(sum.toFixed(2));
            $('#Price').text(sum.toFixed(2));
            $('#Amount').text(sum.toFixed(2));
            $('#TotAmt').text(sum.toFixed(2));
            var a = parseFloat($('#Quantity').val()).toFixed(2);
            var b = parseFloat($('#Price').val()).toFixed(2);
            $('#Amount').val(a * b);
            $('#TotAmt').val(a * b);
        });
        $('#IGST').change(function () {
            var sum = 0;
            $('#Amount').text(sum.toFixed(2));
            $('#TotAmt').text(sum.toFixed(2));
            $('#IGST').text(sum.toFixed(2));
            var a = parseFloat($('#Amount').val()).toFixed(2);
            var b = parseFloat($('#IGST').val()).toFixed(2);
            var c = parseFloat((a * b) / 100).toFixed(2);
            var d = parseFloat(parseFloat(a) + parseFloat(c)).toFixed(2);
            $('#IGSTAmt').val(c);
            $('#TotAmt').val(d);
        });
        $('#CGST').change(function () {
            var sum = 0;
            $('#Amount').text(sum.toFixed(2));
            $('#TotAmt').text(sum.toFixed(2));
            $('#CGST').text(sum.toFixed(2));
            var e = $('#SGSTAmt').val();
            if (e == "") {
                e = 0;
            }
            var a = parseFloat($('#Amount').val()).toFixed(2);
            var b = parseFloat($('#CGST').val()).toFixed(2);
            var c = parseFloat((a * b) / 100).toFixed(2);
            var d = parseFloat(parseFloat(e) + parseFloat(a) + parseFloat(c)).toFixed(2);
            $('#CGSTAmt').val(c);
            $('#TotAmt').val(d);
        });
        $('#SGST').change(function () {
            var sum = 0;
            $('#Amount').text(sum.toFixed(2));
            $('#TotAmt').text(sum.toFixed(2));
            $('#SGST').text(sum.toFixed(2));
            var e = $('#CGSTAmt').val();
            if (e == "") {
                e = 0;
            }
            var a = parseFloat($('#Amount').val()).toFixed(2);
            var b = parseFloat($('#SGST').val()).toFixed(2);
            var c = parseFloat((a * b) / 100).toFixed(2);
            var d = parseFloat(parseFloat(e) + parseFloat(a) + parseFloat(c)).toFixed(2);
            $('#SGSTAmt').val(c);
            $('#TotAmt').val(d);
        });

        function deleteRow(r) {
            var i = r.parentNode.parentNode.rowIndex;
            document.getElementById("detailsTable").deleteRow(i);
            calculateSum();
        }

        function calculateSum() {
            var sum = 0;
            $(".amount").each(function () {
                var value = $(this).text();
                if (!isNaN(value) && value.length !== 0) { sum += parseFloat(value) }
            });
            if (sum == 0.0) {
                $('#Discount').text("0");
                $('#GrandTotal').text("0")
            }
            $('#SubTotal').text(sum.toFixed(2));
            $('#GrandTotal').text(sum.toFixed(2));
            var b = parseFloat($('#Discount').val()).toFixed(2);
            if (isNaN(b)) return;
            var a = parseFloat($('#SubTotal').text()).toFixed(2); $('#GrandTotal').text(a - b)
        };
    </script>
}

