@model CloudTrixApp.Models.ArchitectAssociate

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wraper container-fluid ">
    <div class="row">
        <div class="col col-md-11">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Create Architech Associate</h3>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <hr />
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.ArchitectAssociateID)
                            <div class="form-group">
                                @Html.LabelFor(model => model.ArchitectID, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("ArchitectID")
                                    @Html.ValidationMessageFor(model => model.ArchitectID)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.AssociateName, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.AssociateName)
                                    @Html.ValidationMessageFor(model => model.AssociateName)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ContactNo, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ContactNo)
                                    @Html.ValidationMessageFor(model => model.ContactNo)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.EMail, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.EMail)
                                    @Html.ValidationMessageFor(model => model.EMail)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

