@model CloudTrixApp.Models.ArchitectAssociate

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ArchitectAssociate</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ArchitectAssociateID)

        <div class="form-group">
            @Html.LabelFor(model => model.ArchitectID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ArchitectID")
                @Html.ValidationMessageFor(model => model.ArchitectID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AssociateName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AssociateName)
                @Html.ValidationMessageFor(model => model.AssociateName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContactNo)
                @Html.ValidationMessageFor(model => model.ContactNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EMail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EMail)
                @Html.ValidationMessageFor(model => model.EMail)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

