@model CloudTrixApp.Models.Task

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <section class="content-header">
        <h1>

            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Task Management</a></li>
            <li class="active">Create Tasks</li>
        </ol>
    </section>
    <div class="container-fluid">
        <div class="row">
            <div class="col col-md-11">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Create Tasks </h3>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <h4>Task</h4>
                                <hr />
                                @Html.ValidationSummary(true)
                                @Html.HiddenFor(model => model.TaskID)

                                <div class="container-fluid">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="CreationDate">Creation Date</label>
                                            @Html.TextBoxFor(model => model.CreationDate, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.CreationDate)
                                        </div>
                                    </div>
                                </div>

                                <div class="container-fluid">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="TaskName">Task Name</label>
                                            @Html.TextBox("TaskName", null, new { @class = "form-control  ", @placeholder = "Task Name ", autocomplete = "off" })
                                            @Html.ValidationMessageFor(model => model.TaskName)
                                        </div>
                                    </div>
                                </div>

                                <div class="container-fluid">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="Description">Description</label>
                                            @Html.TextBox("Description", null, new { @class = "form-control  ", @placeholder = "Task Description ", autocomplete = "off" })
                                            @Html.ValidationMessageFor(model => model.Description)
                                        </div>
                                    </div>
                                </div>

                                <div class="container-fluid">
                                    <div><hr size=2><br /></div>
                                    <div class="col-sm-4 col-lg-offset-4">
                                        <div class="form-group">
                                            <input type="submit" value="Create" class="btn btn-success" />
                                            &nbsp;&nbsp;
                                            @Html.ActionLink("Back to List", "Index", null, null, new { @class = "btn btn-primary" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
  $(document).ready(function () {
      $('#CreationDate').addClass('form-control');
      $("#CreationDate").datepicker({
          format: 'dd/mm/yyyy',
          startDate: '0y'
      });
  });
</script>
}

