@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<CloudTrixApp.Models.InvoiceItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>InvoiceItem</h2>

@using (Html.BeginForm("Index", "InvoiceItem", FormMethod.Get))
{
    <table class="table">
        <tr>
            <td align="left">&nbsp;</td>
            <td>&nbsp;</td>
            <td align="center">
                @Html.DropDownList("SearchField", (IEnumerable<SelectListItem>)ViewData["SearchFields"], new {style = "width:150px;height:33px"})
                @Html.DropDownList("SearchCondition", (IEnumerable<SelectListItem>)ViewData["SearchConditions"], new { style = "width:150px;height:33px" })
                @Html.TextBox("SearchText", ViewData["SearchText"] as String, new { style = "width:100px;height:33px" })
                <input type="submit" value="Search" name="command" class="btn btn-default" />
                <input type="submit" value="Show All" name="command" class="btn btn-default" /> 
            </td>
            <td>&nbsp;</td>
            <td align="right">&nbsp;</td>
        </tr>
        <tr>
            <td align="left">
                @Html.DropDownList("Export", (IEnumerable<SelectListItem>)ViewData["Exports"], new { style = "width:65px;height:33px" })
                <input type="submit" value="Export" name="command" class="btn btn-default" />
            </td>
            <td>&nbsp;</td>
            <td align="center">                
                <input type="submit" value="Add New Record" name="command" class="btn btn-default" />
            </td>
            <td>&nbsp;</td>
            <td align="right">
                @Html.DropDownList("PageSize", (IEnumerable<SelectListItem>)ViewData["PageSizes"], new { style = "width:50px;height:33px" })
                <input type="submit" value="Page Size" name="command" class="btn btn-default" />
            </td>
        </tr>
    </table>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Invoice I D", "Index", new { sortOrder = ViewData["InvoiceIDSortParm"], SearchText = ViewData["SearchText"] })
        </th>
        <th>
            @Html.ActionLink("Invoice Item I D", "Index", new { sortOrder = ViewData["InvoiceItemIDSortParm"], SearchText = ViewData["SearchText"] })
        </th>
        <th>
            @Html.ActionLink("Description", "Index", new { sortOrder = ViewData["DescriptionSortParm"], SearchText = ViewData["SearchText"] })
        </th>
        <th>
            @Html.ActionLink("Quantity", "Index", new { sortOrder = ViewData["QuantitySortParm"], SearchText = ViewData["SearchText"] })
        </th>
        <th>
            @Html.ActionLink("Rate", "Index", new { sortOrder = ViewData["RateSortParm"], SearchText = ViewData["SearchText"] })
        </th>
        <th>
            @Html.ActionLink("Discount Amount", "Index", new { sortOrder = ViewData["DiscountAmountSortParm"], SearchText = ViewData["SearchText"] })
        </th>
        <th>
            @Html.ActionLink("C G S T Rate", "Index", new { sortOrder = ViewData["CGSTRateSortParm"], SearchText = ViewData["SearchText"] })
        </th>
        <th>
            @Html.ActionLink("S G S T Rate", "Index", new { sortOrder = ViewData["SGSTRateSortParm"], SearchText = ViewData["SearchText"] })
        </th>
        <th>
            @Html.ActionLink("I G S T Rate", "Index", new { sortOrder = ViewData["IGSTRateSortParm"], SearchText = ViewData["SearchText"] })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Invoice.InvoiceID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceItemID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiscountAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CGSTRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SGSTRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IGSTRate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {
 						InvoiceID = item.InvoiceID 
 					       ,InvoiceItemID = item.InvoiceItemID
 						}) |
            @Html.ActionLink("Details", "Details", new {
 						InvoiceID = item.InvoiceID 
 					       ,InvoiceItemID = item.InvoiceItemID
 						}) |
            @Html.ActionLink("Delete", "Delete", new {
 						InvoiceID = item.InvoiceID 
 					       ,InvoiceItemID = item.InvoiceItemID
 						})
        </td>
    </tr>
}

</table>

<table class="table">
    <tr>
        <td align="center">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewData["CurrentSort"], SearchText = ViewData["SearchText"] }))
        </td>
    </tr>
</table>

 
